<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xn.pay.dao.CollectionAccountDao" >
  <!-- 属性映射 -->
  <resultMap type="com.xn.pay.model.CollectionAccount" id="dataMap">
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="did" property="did" jdbcType="BIGINT" />
    <result column="ac_name" property="acName" jdbcType="VARCHAR" />
    <result column="ac_type" property="acType" jdbcType="BIT" />
    <result column="ac_num" property="acNum" jdbcType="VARCHAR" />
    <result column="mm_qr_code" property="mmQrCode" jdbcType="VARCHAR" />
    <result column="dd_qr_code" property="ddQrCode" jdbcType="VARCHAR" />
    <result column="payee" property="payee" jdbcType="VARCHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="business_type" property="businessType" jdbcType="BIT" />
    <result column="wx_qr_code_ads" property="wxQrCodeAds" jdbcType="VARCHAR" />
    <result column="day_switch" property="daySwitch" jdbcType="BIT" />
    <result column="month_switch" property="monthSwitch" jdbcType="BIT" />
    <result column="total_switch" property="totalSwitch" jdbcType="BIT" />
    <result column="check_status" property="checkStatus" jdbcType="BIT" />
    <result column="check_info" property="checkInfo" jdbcType="VARCHAR" />
    <result column="use_status" property="useStatus" jdbcType="BIT" />
    <result column="remark" property="remark"  />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="ts_time" property="tsTime" jdbcType="TIMESTAMP" />
    <result column="yn" property="yn" jdbcType="BIT" />
    <result column="wx_id" property="wxId"  />
    <result column="wx_name" property="wxName" />
    <result column="user_id" property="userId" />
  </resultMap>
  <!-- 定义数据库基本列,只适用代替单表的*-->
  <sql id="Base_Column_List">
       a.id, a.did, a.ac_name, a.ac_type, a.ac_num, a.mm_qr_code, a.dd_qr_code, a.payee, a.bank_name, a.business_type,
    a.wx_qr_code_ads, a.day_switch, a.month_switch, a.total_switch, a.check_status, a.check_info,a.remark,
    a.use_status, a.create_time, a.update_time, a.ts_time, a.yn, a.wx_id,a.user_id,b.wx_name
    </sql>



  <sql id="Base_Column_List_query">
       a.id, a.did, a.ac_name, a.ac_type, a.ac_num, a.mm_qr_code, a.dd_qr_code, a.payee, a.bank_name, a.business_type,
    a.wx_qr_code_ads, a.day_switch, a.month_switch, a.total_switch, a.check_status, a.check_info,a.remark,
    a.use_status, a.create_time, a.update_time, a.ts_time, a.yn , a.wx_id,a.user_id
    </sql>

  <!-- 查询条件 -->
  <sql id="Example_Where_Clause">
    where 1=1
    <trim  suffixOverrides="," >
      <if test="acNum != 0 and acNum >0 " >
        and a.ac_num = #{acNum}
      </if>
      <if test="payee != null and payee != '' " >
        and a.payee = #{payee}
      </if>
      <if test="checkStatus != null and checkStatus != '' " >
        and a.check_status = #{checkStatus}
      </if>
      <if test="acType != null and acType != '' " >
        and a.ac_type = #{acType}
      </if>
      and a.yn = 0
    </trim>
  </sql>

  <!-- 查询条件_id -->
  <sql id="Example_Where_Clause_id">
    where 1=1
    <trim  suffixOverrides="," >
      <if test="id != 0 and id >0 " >
        and a.id = #{id}
      </if>
      and  a.yn =0
    </trim>
  </sql>


  <sql id="Example_Where_Clause_all">
    where 1=1
    <trim  suffixOverrides="," >
      <if test="id != 0 and id >0 " >
        and a.id = #{id}
      </if>
      and  a.yn =0
    </trim>
  </sql>

  <!-- 查询总数-->
  <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
    select count(1)
    from tb_fn_did_collection_account a
    <include refid="Example_Where_Clause"/>
  </select>

  <!-- 查询分页列表 -->
  <select id="queryByList" resultMap="dataMap"  parameterType="Object">
    select  a.id, a.did, a.ac_name, a.ac_type, a.ac_num, a.mm_qr_code, a.dd_qr_code, a.payee, a.bank_name, a.business_type,
    a.wx_qr_code_ads, a.day_switch, a.month_switch, a.total_switch, a.check_status, a.check_info,a.remark,
    a.use_status, a.create_time, a.update_time, a.ts_time, a.yn,b.id,b.wx_name
    from  tb_fn_did_collection_account a LEFT JOIN  tb_fn_wx  b
    on  a.wx_id = b.id

     where  1=1
    <trim  suffixOverrides="," >
      <if test="did != 0 and did >0 " >
        and a.did = #{did}
      </if>
      <if test="checkStatus != null and checkStatus != '' " >
        and a.check_status = #{checkStatus}
      </if>
      <if test="wxId != null and wxId != '' " >
        and b.id = #{wxId}
      </if>
      <if test="payee != null and payee != '' " >
        and a.payee = #{payee}
      </if>
      <if test="acType != 0 and acType >0  " >
        and a.ac_type = #{acType}
      </if>
      and a.yn = 0
    </trim>

    <!--<include refid="Example_Where_Clause"/>-->
    order by a.create_time desc
    limit #{startIndex},#{pageSize}
  </select>





  <select id="queryByListPayee" resultMap="dataMap"  parameterType="Object">
    select  a.id, a.did, a.ac_name, a.ac_type, a.ac_num, a.mm_qr_code, a.dd_qr_code, a.payee, a.bank_name, a.business_type,
    a.wx_qr_code_ads, a.day_switch, a.month_switch, a.total_switch, a.check_status, a.check_info,a.remark,
    a.use_status, a.create_time, a.update_time, a.ts_time, a.yn
    from  tb_fn_did_collection_account a
    where  1=1
    and a.payee = #{payee}
    order by a.create_time desc
  </select>

  <!-- 查询列表-无分页-有条件/有条件 -->
  <select id="queryAllList" resultMap="dataMap"  parameterType="Object">
    select
    <include refid="Base_Column_List" />
    from tb_fn_did_collection_account a
    <include refid="Example_Where_Clause"/>
    order by a.create_time desc
  </select>


  <!-- 根据id查询记录 -->
  <select id="queryById"  resultMap="dataMap" parameterType="Object">
    select
    <include refid="Base_Column_List_query" />
    from tb_fn_did_collection_account  a
    <include refid="Example_Where_Clause_all"/>
  </select>

  <!-- 根据条件查询记录 -->
  <select id="queryByCondition"  resultMap="dataMap" parameterType="Object">
    select
    <include refid="Base_Column_List" />
    from tb_fn_did_collection_account a
    <include refid="Example_Where_Clause"/>
    limit 1
  </select>

  <!-- 添加记录 -->
  <insert id="add" parameterType="Object" >
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID() as id
    </selectKey>
    insert into tb_fn_did_collection_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="did != null" >
        did,
      </if>
      <if test="acName != null" >
        ac_name,
      </if>
      <if test="acType != null" >
        ac_type,
      </if>
      <if test="acNum != null" >
        ac_num,
      </if>
      <if test="mmQrCode != null" >
        mm_qr_code,
      </if>
      <if test="ddQrCode != null" >
        dd_qr_code,
      </if>
      <if test="payee != null" >
        payee,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="businessType != null" >
        business_type,
      </if>
      <if test="wxQrCodeAds != null" >
        wx_qr_code_ads,
      </if>
      <if test="daySwitch != null" >
        day_switch,
      </if>
      <if test="monthSwitch != null" >
        month_switch,
      </if>
      <if test="totalSwitch != null" >
        total_switch,
      </if>
      <if test="checkStatus != null" >
        check_status,
      </if>
      <if test="checkInfo != null" >
        check_info,
      </if>
      <if test="useStatus != null" >
        use_status,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="tsTime != null" >
        ts_time,
      </if>
      <if test="yn != null" >
        yn,
      </if>
      create_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="did != null" >
        #{did,jdbcType=BIGINT},
      </if>
      <if test="acName != null" >
        #{acName,jdbcType=VARCHAR},
      </if>
      <if test="acType != null" >
        #{acType,jdbcType=BIT},
      </if>
      <if test="acNum != null" >
        #{acNum,jdbcType=VARCHAR},
      </if>
      <if test="mmQrCode != null" >
        #{mmQrCode,jdbcType=VARCHAR},
      </if>
      <if test="ddQrCode != null" >
        #{ddQrCode,jdbcType=VARCHAR},
      </if>
      <if test="payee != null" >
        #{payee,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null" >
        #{businessType,jdbcType=BIT},
      </if>
      <if test="wxQrCodeAds != null" >
        #{wxQrCodeAds,jdbcType=VARCHAR},
      </if>
      <if test="daySwitch != null" >
        #{daySwitch,jdbcType=BIT},
      </if>
      <if test="monthSwitch != null" >
        #{monthSwitch,jdbcType=BIT},
      </if>
      <if test="totalSwitch != null" >
        #{totalSwitch,jdbcType=BIT},
      </if>
      <if test="checkStatus != null" >
        #{checkStatus,jdbcType=BIT},
      </if>
      <if test="checkInfo != null" >
        #{checkInfo,jdbcType=VARCHAR},
      </if>
      <if test="useStatus != null" >
        #{useStatus,jdbcType=BIT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tsTime != null" >
        #{tsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yn != null" >
        #{yn,jdbcType=BIT},
      </if>
       NOW(),
    </trim>
  </insert>


  <!-- 更新记录 -->
  <update id="update" parameterType="Object">
    UPDATE tb_fn_did_collection_account a
    <trim prefix="set" suffixOverrides=",">
      <if test="did != null" >
        did = #{did,jdbcType=BIGINT},
      </if>
      <if test="acName != null" >
        ac_name = #{acName,jdbcType=VARCHAR},
      </if>
      <if test="acType != null" >
        ac_type = #{acType,jdbcType=BIT},
      </if>
      <if test="acNum != null" >
        ac_num = #{acNum,jdbcType=VARCHAR},
      </if>
      <if test="mmQrCode != null" >
        mm_qr_code = #{mmQrCode,jdbcType=VARCHAR},
      </if>
      <if test="ddQrCode != null" >
        dd_qr_code = #{ddQrCode,jdbcType=VARCHAR},
      </if>
      <if test="payee != null" >
        payee = #{payee,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null" >
        business_type = #{businessType,jdbcType=BIT},
      </if>
      <if test="wxQrCodeAds != null" >
        wx_qr_code_ads = #{wxQrCodeAds,jdbcType=VARCHAR},
      </if>
      <if test="daySwitch != null" >
        day_switch = #{daySwitch,jdbcType=BIT},
      </if>
      <if test="monthSwitch != null" >
        month_switch = #{monthSwitch,jdbcType=BIT},
      </if>
      <if test="totalSwitch != null" >
        total_switch = #{totalSwitch,jdbcType=BIT},
      </if>
      <if test="checkStatus != null" >
        check_status = #{checkStatus,jdbcType=BIT},
      </if>
      <if test="checkInfo != null" >
        check_info = #{checkInfo,jdbcType=VARCHAR},
      </if>
      <if test="useStatus != null" >
        use_status = #{useStatus,jdbcType=BIT},
      </if>
      <if test="wxId != null" >
        wx_id = #{wxId},
      </if>
      a.update_time = NOW(),
    </trim>
    where  id =#{id}
  </update>



  <update id="updateStart" parameterType="Object">
    UPDATE tb_fn_did_collection_account a
    <trim prefix="set" suffixOverrides=",">
      <if test="did != null" >
        did = #{did,jdbcType=BIGINT},
      </if>
      <if test="acName != null" >
        ac_name = #{acName,jdbcType=VARCHAR},
      </if>
      <if test="acType != null" >
        ac_type = #{acType,jdbcType=BIT},
      </if>
      <if test="acNum != null" >
        ac_num = #{acNum,jdbcType=VARCHAR},
      </if>
      <if test="mmQrCode != null" >
        mm_qr_code = #{mmQrCode,jdbcType=VARCHAR},
      </if>
      <if test="ddQrCode != null" >
        dd_qr_code = #{ddQrCode,jdbcType=VARCHAR},
      </if>
      <if test="payee != null" >
        payee = #{payee,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null" >
        business_type = #{businessType,jdbcType=BIT},
      </if>
      <if test="wxQrCodeAds != null" >
        wx_qr_code_ads = #{wxQrCodeAds,jdbcType=VARCHAR},
      </if>
      <if test="daySwitch != null" >
        day_switch = #{daySwitch,jdbcType=BIT},
      </if>
      <if test="monthSwitch != null" >
        month_switch = #{monthSwitch,jdbcType=BIT},
      </if>
      <if test="totalSwitch != null" >
        total_switch = #{totalSwitch,jdbcType=BIT},
      </if>
      <if test="checkStatus != null" >
        check_status = #{checkStatus,jdbcType=BIT},
      </if>
      <if test="checkInfo != null" >
        check_info = #{checkInfo,jdbcType=VARCHAR},
      </if>
      <if test="useStatus != null" >
        use_status = #{useStatus,jdbcType=BIT},
      </if>
      a.update_time = NOW(),
    </trim>
    where  wx_id =#{wxId}
  </update>


  <!-- 主要作用1.逻辑删除，2更新状态 -->
  <update id="manyOperation" parameterType="Object">
    update tb_fn_did_collection_account a
    <trim prefix="set" suffixOverrides=",">
      <if test="useStatus != 0 and useStatus>0  " >
        a.use_status=#{useStatus},
      </if>
      a.update_time=NOW()
    </trim>
    <include refid="Example_Where_Clause_id"/>
  </update>

  <!--逻辑删除数据 -->
  <update id="delete" parameterType="java.lang.Long">
        UPDATE tb_fn_did_collection_account a set a.yn = 1,
        a.update_time = now()
        where 1=1
        and a.id =#{id}
        and a.yn=0
    </update>



  <update id="wxIdUpdateCheckStatus" parameterType="java.lang.Long">
        UPDATE tb_fn_did_collection_account a set a.check_status = 1,
        a.check_info ='小微删除',
        a.wx_id=0,
        a.update_time = now()
        where 1=1
        and a.wx_id =#{wxId}
        and a.yn=0
   </update>


  <!-- 根据小薇ID修改收款账号的使用暂停状态 -->
  <update id="updateUseStatus" parameterType="Object">
    update tb_fn_did_collection_account a
    <trim prefix="set" suffixOverrides=",">
      <if test="useStatus != 0 and useStatus > 0  " >
        a.use_status=#{useStatus},
      </if>
      a.update_time=NOW()
    </trim>
    where 1=1
    and a.wx_id = #{wxId}
    and a.yn = 0
  </update>

</mapper>