<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xn.pay.dao.TeamDao">
    <!-- 属性映射 -->
    <resultMap type="com.xn.pay.model.TeamModel" id="dataMap">
        <id property="id" column="id" />
        <result property="did" column="did" />
        <result property="ownId" column="own_id" />
        <result property="directNum" column="direct_num" />
        <result property="totalMoney" column="total_money" />
        <result property="totalBalance" column="total_balance" />
        <result property="totalOrderMoney" column="total_order_money" />
        <result property="moneyNum" column="money_num" />
    </resultMap>
    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">

    </sql>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="did != 0 and did >0 " >
                and a.did = #{did}
            </if>
            <if test="ownId != 0 and ownId >0 " >
                and a.own_id = #{ownId}
            </if>
            <if test="money != null and money != '' " >
                and a.balance >= #{money}
            </if>
            <if test="startMoney != null and startMoney != '' and endMoney != null and endMoney != '' " >
                and a.balance >= #{startMoney} and a.balance &lt;= #{endMoney}
            </if>
            <if test="minMoney != null and minMoney != '' " >
                and a.balance &lt;= #{minMoney}
            </if>
            <if test="curday != 0 and curday >0 " >
                and a.curday = #{curday}
            </if>
            <if test="curdayStart != 0 and curdayStart >0 and curdayEnd != 0 and curdayEnd >0 " >
                and a.curday >= #{curdayStart} and a.curday &lt;= #{curdayEnd}
            </if>
        </trim>
    </sql>

    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != 0 and id >0 " >
                and a.id = #{id}
            </if>
            and a.yn =  0
        </trim>
    </sql>


    <!-- 获取团队长旗下的汇总数据 -->
    <select id="getTeamData" resultMap="dataMap"  parameterType="Object">
        select count(a.id) as direct_num,ifnull(sum(convert(a.total_money,decimal(19,2))), '0.00') as total_money,
        ifnull(sum(convert(a.balance,decimal(19,2))), '0.00') as total_balance
        from tb_fn_did a
        <include refid="Example_Where_Clause"/>
        and a.yn = 0
    </select>

    <!-- 获取团队长旗下当日消耗成功订单金额的汇总-->
    <select id="getTotalOrderMoney" resultType="java.lang.String"  parameterType="Object">
        select ifnull(sum(convert(a.order_money,decimal(19,2))), '0.00') as total_order_money
         from tb_fn_order a where a.did in (
         select did from tb_fn_did where own_id = #{did} and yn = 0
         )
        and a.curday = #{curday}
        and a.yn = 0
    </select>

    <!-- 获取团队长旗下金额档次人数-->
    <select id="getMoneyNum" resultType="java.lang.Integer"  parameterType="Object">
        select count(1) as moneyNum
        from tb_fn_did a
        <include refid="Example_Where_Clause"/>
        and a.yn = 0
    </select>




</mapper>